[2016-10-07 21:15] wheresvic opened #1 "Add support for nested fields"
Can use https://www.npmjs.com/package/object-path to pull out the updated object

However, not sure how useful this might be

[2016-10-07 21:16] victorparmar opened #2 "Allow encrypting non-string fields"

[2016-10-10 09:54] victorparmar opened #3 "Check options for repeating field names"

[2016-10-12 11:42] victorparmar opened #4 "Add option to not decrypt on document init"

[2016-10-14 09:52] victorparmar opened #5 "Check options for required parameters"

[2016-10-14 09:53] #5 closed

[2016-10-14 09:54] victorparmar opened #6 "Add method to strip encryption field markers"
This is useful for returning documents with the markers removed

[2016-10-14 09:56] #6 closed

[2016-10-18 21:23] victorparmar opened #7 "Add static methods to find by encrypted field"

[2017-01-28 22:14] #2 closed

[2017-02-21 13:44] victorparmar opened #10 "Add checks to allow checking if field is encrypted"
`isEncrypted(fieldName)`

[2018-07-09 08:59] hotohoto opened #14 "Support findOneAndUpdate"
I found it was not encrypted when I updated the data using `findOneAndUpdate`. Please support it.

Additionally, there seems to be other APIs to update data, and they need to be covered by this library.

http://mongoosejs.com/docs/middleware.html

[2018-07-09 19:41] victorparmar commented on #14
Hi!

Thanks for taking the time to open and issue. What versions of mongoose, Node.js and MongoDb are you using?

[2018-08-03 23:27] orsiemilio opened #15 "Take out next within pre init mongoose method since deprecated in mongoose 5.0.0"
Acording to this you should take out the next paramenter when using pre 'init' method.
https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#init-hook-signatures
I test it localy by simply deleting it and seams to work fine.. I don't really test it but I think is enough.

[2018-08-23 20:48] wheresvic opened #17 "Use `cipheriv` instead of plain `cipher`"
https://medium.com/@fhbro/crib-dragging-plain-text-attack-5a61a0bcd80d

https://stackoverflow.com/questions/25427935/node-js-create-initialization-vector-iv-from-random-source#29777716

Note that this will be a major change, as this changes the way the encrypted fields are stored. Also don't break backwards compatibility, i.e. use the regular cipher when no iv available...

[2018-08-23 20:59] victorparmar commented on #3
Irrelevant

[2018-08-23 20:59] #3 closed

[2018-08-23 21:00] victorparmar commented on #4
Not sure why anyone would want this ...

[2018-08-23 21:00] #4 closed

[2018-08-23 21:00] victorparmar commented on #7
Not useful for the moment

[2018-08-23 21:00] #7 closed

[2018-08-23 21:00] victorparmar commented on #10
meh

[2018-08-23 21:00] #10 closed

[2018-08-24 07:24] wheresvic opened #19 "Update documentation"
à la https://www.npmjs.com/package/mongoose-encryption

[2018-09-07 08:03] vinczedani commented on #14
#20 should add the required hook for findOneAndUpdate

[2018-09-07 17:04] #14 closed

[2018-09-07 18:21] wheresvic opened #22 "Fix build-status button"
It's pointing to the wrong repo ...

[2018-09-08 07:59] #22 closed

[2018-09-10 12:12] vinczedani commented on #17
I see you want to use regular cipher when no iv is available, but both functions were added in v0.1.94

[2018-09-11 19:55] #17 closed

[2018-09-11 21:05] wheresvic commented on #17
I think you misunderstood me or maybe I am not understanding you correctly but what I meant was that we should allow an existing db that has been using the older algorithm to be able to upgrade and not break the db.

This can be done as a check in the `decrypt` function when no salt is available switch to the older algo. This might leave the db in an inconsistent state however and to mitigate that

[2018-09-11 21:26] #19 closed

[2018-09-11 21:35] wheresvic commented on #1
Closing this as there has been no activity on this front for the moment.

[2018-09-11 21:35] #1 closed

[2018-09-12 08:18] vinczedani commented on #17
Oh I see your point, you are right

[2018-09-14 22:39] eyp opened #23 "Object returned by save or create is cyphered"
If I have a field _name_ marked as cyphered and I do:

new User(myUser).save().then((savedUser) => {
  savedUser.name is cyphered
}
Shouldn't it be like when I do a find? Or I must do a find afterwardsto be able to use the object?

[2018-09-16 11:00] wheresvic commented on #23
Hi @eyp ,

You can use the static method to decrypt your encrypted object.

Try:

[code]

where `user` is `mongoose.model("User", UserSchema)` and the `UserSchema` has the field encryption plugin set.

[2018-09-16 15:37] eyp commented on #23
Thanks. I'm experiencing the same issue doing a _find({my criteria})_.
Of course if I loop all the results and do a _decryptFieldsSync()_ the fields are decrypted. Is this the right way to do it?

[2018-09-16 16:51] tuhlmann opened #24 "aes-256-cbc encryption does not produce reproducible results"
I updated my project to version 2.0.0 of your lib.
Now it seems every time I encrypt the same string value the created encrypted string is different. Looking into the code the reason seems the iv value that is recreated every time.

Having a different salt each time provides for stronger encryption , but on the other hand the value can't be searched for.

I'd suggest passing the salt value the sam

[2018-09-17 08:52] wheresvic commented on #23
@eyp - yes, you can loop through and decrypt the fields.

We can also consider providing an option for the plugin that would automatically decrypt them - would this be something useful for you?

[2018-09-17 09:00] wheresvic commented on #24
Hi @tuhlmann

Yes, this is why this was a major change, see https://github.com/wheresvic/mongoose-field-encryption#200. In order to maintain previous behaviour you can set the `useAes256Ctr` flag to true and it will fallback to using the previous algorithm without the salt.

We can also look into adding the salt generation as a parameter or function - I'll take it up for the next release!

[2018-09-17 10:15] eyp commented on #23
Yes, I think it would be better to have an option. What I was looking for was something that made transparent the insertion of ciphered fields, but also the read from the database. So what I wanted only was to have some fields ciphered in the database, not outside it.

[2018-09-17 11:09] vinczedani commented on #23
The 'init' hook should decrypt your data,
How are you finding the documents?

[2018-09-17 11:15] eyp commented on #23
Just after doing MySchema.find({some criteria}) I need to decrypt the fields manually.

[2018-09-24 11:59] vinczedani commented on #23
Dear @eyp
Sorry for the long wait, but I only had time now to check on your issue. You were right, the find({ query }) did not decrypt the data as expected. I created a new pull request and a new test case to cover this. The fix and the test is now an open PR.
@wheresvic
I think the expected behaviour is to have the data decrypted just like on findById and other find methods.
So in my opinion, eve

[2018-10-23 07:41] eyp commented on #23
It's strange, now I'm in 2.1.1 and I still have to decrypt manually, doing:
myResults.forEach((myResult) => {
    myResult.decryptFieldsSync()
})
After a regular find.

[2018-10-24 07:09] eyp commented on #23
It's true that your test is working fine, so it should be working in my case as well. I'll revise my code to figure out what's happening.

[2018-10-24 14:21] eyp commented on #23
So what's happening is that even if my version is 2.1.1 (updated with npm, of course), the file that is downloaded doesn't have the change you did for fixing this in the line 207:

schema.pre("init", function(_next, _data) {

instead of

schema.post("init", function(_next, _data) {

[2018-10-24 14:35] eyp commented on #23
Anyway, just realized you released 2.1.3 that has everything. So forget about it.

[2019-02-17 08:42] Ionut-Milas commented on #24
any update on this ?

[2019-02-25 08:06] wheresvic commented on #24
@Ionut-Milas Sorry for the delay in getting back to you - it is on my radar and I will try to get this done this week :)

[2019-02-25 12:22] wheresvic commented on #24
@tuhlmann @Ionut-Milas this is now resolved via #28. Please have a look at v2.3.0 and feel free to reach out in case there are more issues, cheers!

[2019-02-25 12:22] #24 closed

[2019-04-18 05:14] martyh888 opened #29 "TypeError: saltGenerator is not a function or wrong usage please give full working examples"
I have tried following the documentation and I cannot get this to work

`mongoose.connect('mongodb://localhost:27017/csvfilereader', {useNewUrlParser: true});
var conn = mongoose.connection;

let Schema = mongoose.Schema;

let postSchema = new Schema({
  title: String,
  message: String
});
Post = mongoose.model('Post', postSchema);

const fieldEncryption = require('mongoose-field-encryption')
con

[2019-04-25 08:13] wheresvic commented on #29
Hello and sorry for the delay in responding,

Please try the following:

[code]

As you can see, you only needed to set the encryption plugin, you do not need to actually encrypt it manually.

I will also update the documentation to clearly reflect this, let me know if you have any other issues.

[2019-04-25 09:05] #29 closed

[2019-05-21 04:26] martyh888 opened #31 "Searching Encrypted fields"
How do I do a find on encrypted fields? Find works ok on non-encrypted fields and decrypts the contents of the encrypted fields but doing a direct search on the encrypted filed doesn't work. Also, the search will be a like statement eg 'SMI%' to return SMITH for example

[2019-05-31 09:34] wheresvic commented on #31
Hello,

Encryption is a one-way street unfortunately so the idea is that once you encrypt it you have no idea of
what the original contents were. However, what `mongoose-field-encryption` does provide is the ability to search for the _exact_ string if you know it. Cases include names, sex, age, etc.

If you're looking to do wildcard searches then I can recommend the following:
- keep a single coll

[2019-05-31 15:05] wheresvic commented on #31
https://github.com/wheresvic/mongoose-field-encryption#search-over-encrypted-fields

[2019-05-31 15:05] #31 closed

[2019-09-20 16:48] eldhoseelias opened #32 "Not working with Aggregate Query"
Its not working with aggregate query

[2019-09-23 13:37] wheresvic commented on #32
Hello,

Could you please provide an example of what is not working exactly?

Using the field-encryption plugin will encrypt the fields which means that running aggregate queries on them will not make any sense.

If you require aggregate data, I would suggest that you create another data structure / collection and aggregate the data at the time of insertion or better yet, do it as part of a schedul

[2019-10-11 12:44] bakkostas commented on #32
I have the same error
Is there any answer?

[2019-10-15 08:37] wheresvic commented on #32
@bakkostas

Can you please provide an example of what is not working?

[2019-10-15 12:23] bakkostas commented on #32
I have two model Account and My_schema

`

var account_schema = new mongoose.Schema({
    name: { type: String },
    surname: { type: String },
    email: { type: String, required: true, index: true, unique: true },
    password: { type: String, required: true },
    roles: [{ type: mongoose.Schema.Types.ObjectId, ref: 'Roles' }],
    club: [{ type: mongoose.Schema.Types.ObjectId, ref: 'Clubs' }]

[2019-12-05 10:18] wheresvic commented on #32
Hello,

You can use the `decryptFieldsSync()` method to decrypt the surname manually.

Alternatively you can also use the decrypt method to manually decrypt the surname and store it:

[code]

Hopefully this helps,

[2019-12-05 12:01] bakkostas commented on #32
Thank you in advance!

I have a problem with the crypto hash!

I use the above code

let key = crypto.createHash('sha256').update(String("Encryption4all")).digest('hex').substr(0, 32);
console.log(fieldEncryption.decrypt(data[0].surname, key));

Now all works fine.

Thank you!

[2019-12-05 12:18] wheresvic commented on #32
@eldhoseelias let me know if you need further help, thanks!

[2019-12-05 12:52] bakkostas commented on #32
no the code works fine!

thanks!

[2019-12-11 17:58] caltuntas opened #34 "nested field encryption support"
Hello,

Firstly I want to thank you for this nice library. At the moment, library supports only outer level field encryption like in the PostSchema example you added. It can only encrypt "references" field as whole. But when only one of the fields inside "references" should be encrypted, it doesn't work.

So It would be nice to support nested field encryption with "dot notation" used in mongoDB it

[2019-12-11 18:25] caltuntas commented on #34
After having a look at the closed issues I realized there was a similar issue https://github.com/wheresvic/mongoose-field-encryption/issues/1 (and merge request at the end) closed due to inactivity. It would be useful to add this feature.

[2019-12-13 10:20] wheresvic commented on #34
@caltuntas I'll have a look at this again. The merge request you reference actually incorrectly mentioned the issue in question.

I cannot guarantee how fast I'll be able to develop this but let's say after the holidays would be a fair bet :)

[2019-12-13 19:31] caltuntas commented on #34
Fair enough :) If I can find some time before you I may add this and make a pull request. Thanks

[2019-12-31 23:34] ronaldlong46 opened #35 "Bug in example code"
Line 51 of README.md is:
`PostSchema.plugin(mongooseFieldEncyption, { fields: ["message", "references"], secret: "some secret key" });
`

It should be:
`PostSchema.plugin(mongooseFieldEncryption, { fields: ["message", "references"], secret: "some secret key" });
`

[2020-01-10 09:46] Zeedinstein opened #36 "Vewing database doesn't show encrypted fields"
When viewing my database use Robo 3T. The field that I have encrypted looks normal(No encryption).
But I see the fields __enc_data & __enc_data_d (field I'm encrypting is called data). My data field stores an Array. Seems like the field is not actually being encrypted.

[2020-01-10 10:23] wheresvic commented on #36
@Zeedinstein could you please post some sample code showing how you have configured the plugin and also what an example document looks like?

[2020-01-10 10:25] wheresvic commented on #36
Also you could clone `mongoose-field-encryption` and run the tests via `npm test`. Then check using Robo3T what the document in `nestedfieldencryptions` collection looks like.

[2020-01-10 10:27] wheresvic commented on #35
Whoops - thanks for pointing that out! Fixed now :)

[2020-01-10 10:27] #35 closed

[2020-01-10 10:29] #32 closed

[2020-01-10 10:33] Zeedinstein commented on #36
Sure here is an example:
[code]

I will try cloning as well

[2020-01-10 10:36] wheresvic commented on #34
@caltuntas I had a look at this issue again and while implementing it would be possible, it would vastly complicate the code (and potentially break the current encrypted field naming convention).

I personally think that if you require nested field encryption, you could consider having sub-documents and apply the plugin on them and let mongoose itself handle the magic.

What do you think?

[2020-01-10 11:12] Zeedinstein commented on #36
Okay so I built a test using what is already there.
[code]

It outputs:
[code]

But now we don't have the data field there, we just have the __enc fields. Not sure if this is correct ?

[2020-01-10 12:13] wheresvic commented on #36
@Zeedinstein yes this is correct behaviour - as you can see from the test - the data field has been encrypted into `__enc_data_d` and the field itself has been removed. If you think about it, leaving the `data` field there would create confusion.

[2020-01-22 21:02] rickmacgillis commented on #34
@wheresvic's suggestion on using subdocuments works perfectly. For those of you looking for a simple code example, consider the following.

[code]
That's a stripped down version of what I'm using to store OAuth credentials for multiple service providers for multiple users on an open source project I'm currently working on.

Hopefully this code helps someone.

[2020-06-27 10:12] sridaradappt opened #37 "Using model.findOne({fieldname: fieldvalue}) doesn't return results if the fieldName is an encrypted field."
Using model.findOne({fieldname: fieldvalue}) doesn't return results if the fieldName is an encrypted field. Any idea to how to get the document ?

But using model.findOne({_id: docId}) returns data.

Need help

[2020-06-27 10:44] sridaradappt commented on #37
As a workaround, i tried using the method which is mentioned for "Search over encrypted fields" and I was able to make this work.

[2020-06-27 10:44] #37 closed

[2020-07-09 14:41] mexusbg commented on #34
+ 1 for this request.
@rickmacgillis suggestion works, but I would be nice if implemented

[2020-07-10 08:06] 774649283 commented on #34
`const mongoose = require("mongoose");
const schema = new mongoose.Schema({
    fieldA: { // 字段A
        type: String
    },
    fieldBArrays: [new mongoose.Schema({ // 字段B嵌套文档
        child: { // 子字段
            type: String
        }
    })]
});
const mongooseFieldEncryption = require('mongoose-field-encryption').fieldEncryption;
schema.plugin(mongooseFieldEncryption, {
    fields: ["fieldA","fi

[2020-07-28 18:06] peelmicro opened #38 "I cannot make it work when updating a decrypted field"
I've been able to make the plugin work when a new document is created. It stores the information encrypted in the database and it decrypts it properly when using **find**, **findOne** and **findById**.

The problem is when I try to update an encrypted value. I've tried several situations:

- Using **update**, even it is deprecated, adding the **__enc_fieldname: false** or not adding it.
- Using **

[2020-09-01 16:42] GiboMac opened #39 "EVP_DecryptFinal_ex:bad decrypt"
On my previous laptop,
with openssl 1.0.2g 1 Mar 2016
everything works well.

Now after our company migrate to mac,
i've imported a db dump, set the same secret used for encrypt my fields.

Then i try to log in into my app this error display

[code]

Anyone with the same error?

OS: osx catalina 10.15.6
OpenSSL 1.1.1g  21 Apr 2020

[2020-09-01 19:00] wheresvic commented on #39
Hi,

As you have correctly diagnosed it, this is a problem with the OpenSSL version, also see: https://stackoverflow.com/questions/34304570/how-to-resolve-the-evp-decryptfinal-ex-bad-decrypt-during-file-decryption

It looks like the only option is to either decrypt the data on the old machine or downgrade the openssl version, decrypt and then upgrade the openssl version and re-encrypt the data.

T

[2020-09-01 19:18] wheresvic commented on #38
Hi,

I really apologize for the delay in responding to you - somehow I missed this notification! Anyways, unfortunately according to the mongoose docs here: https://mongoosejs.com/docs/middleware.html#notes, `findOneAndUpdate()` is not supported for middleware.

Thus, you need to retrieve the document, make your updates and then save it again in order for the encryption plugin to do its job. Hope

[2020-09-01 19:20] #36 closed

[2020-09-25 15:58] rogeryeosgit opened #42 "Deprecation issue"
Just stumbled onto this nice tool. Works quite straight forward. Thanks. 👍

Just a question.. Is the "collection.update is deprecated..." warning anything to worry about? and is there a reason not to use updateOne or updateMany instead?

Was reading the code and figured there must be some considerations about this since it has been left in or maybe I'm missing something in terms of Mongoose versio

[2020-10-15 19:19] wheresvic commented on #42
Hi @rogeryeosgit,

Sorry for the delay in getting back to you on this. Essentially, the `update` hook is there for backwards compatibility. However, the latest release `3.1.0` also includes support for the `updateOne` function. I hope that this helps.

Please do test this method out thoroughly and let me know if you see any issues.

Cheers,

[2020-10-23 07:09] Joypaul11 opened #45 "decryption of nested fields not happening for "findbyid", "find" & "findOne" queries"
When making above queries, decryption of nested fields is not happening automatically.

[2020-10-23 11:25] wheresvic commented on #45
Thanks for filing the issue, could you please provide more detail regarding your implementation?

Note that `mongoose-field-encryption` does not support encryption of nested fields specifically. You might need to make a sub-document schema and add the plugin to that. If you could provide an example perhaps we could try and help,

Thanks!

[2020-11-06 20:25] gilmaicor opened #46 "DeprecationWarning: crypto.createDecipher is deprecated."

[2020-12-08 21:39] carmensancheez opened #50 "Error: Invalid key length"
I created a new entry to my collection and added the field 'password' encrypted with mongooseFieldEncryption. Now when I try to decrypt that field, I have the following error:
(node:7362) UnhandledPromiseRejectionWarning: Error: Invalid key length
    at Decipheriv.createCipherBase (internal/crypto/cipher.js:103:19)
    at Decipheriv.createCipherWithIV (internal/crypto/cipher.js:121:20)
    at new

[2020-12-12 13:29] wheresvic commented on #50
Hi @carmensancheez ,

Sorry to hear that you have this issue, could you please provide the code that you used?

Note that this error likely occurs when the secret you provided is not correct / empty.

[2020-12-30 11:36] lazzyn commented on #50
@carmensancheez I resolved this by making secret length 32 characters. But then I ran into this error -  error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt.

I am trying to decrypt data like this - fieldEncryption.decrypt(messageObj.messageData.receiver, 'my secret key)

@wheresvic Can you suggest some solution for this?

[2020-12-30 11:38] lazzyn commented on #50
@wheresvic What I want to do is get decrypted data after I have created a document.

[2020-12-30 12:27] amitistyping opened #52 "Querying gives decrypted data but calling fieldEncryption.decrypt causes error - error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt"
Steps to Reproduce:

1. Encrypt this way - mySchema.plugin(mongooseFieldEncryption, { fields: ["message", "sender", "receiver"], secret: "AsEAabUmaIK3C8FTpuzPHrZJhvhiS8zY" });
2. Decrypt this way -  fieldEncryption.decrypt(messageObj.messageData.receiver, 'AsEAabUmaIK3C8FTpuzPHrZJhvhiS8zY')
3. Causes below error -

![image](https://user-images.githubusercontent.com/25412894/103351179-5bdc2200-4ac8

[2020-12-30 12:28] lazzyn commented on #52
Also, I was getting invalid key error earlier when using fieldEncryption.decrypt - so I had to change my key length to 32 characters as was suggested somewhere on StackOverFlow.

[2021-01-02 13:32] wheresvic commented on #52
Hi @lazzyn ,

You need to make sure that `messageObj.messageData.receiver` is actually the encrypted value. Can you print out that field before calling the function to decrypt?

Finally note that if the encrypted field is an object the data is put under `__enc_fieldname_d` (replace fieldName with the actual fieldname).

[2021-01-02 13:33] #46 closed

[2021-01-06 21:40] sean-hill opened #53 "How to remove encrypted field?"
Hi! I'd like to remove an encrypted field from a document, but I'm not sure how to do it. In this case the `inputs` key would be the encrypted field. This is my best try so far:

[code]

[2021-01-08 21:26] Glacian22 opened #54 "Bad decrypt when retrieving multiple docs from DB"
I'm currently running v3.0.4, and everything works great when finding a single doc.

ex: `db.User.findById('someid)` will find that user and decrypt the encrypted fields (name and email). But trying to find multiple docs, like `db.User.find()` which should retrieve all users, I get a bad decrypt error.

Currently I'm using a workaround where I only ask mongoose for the fields I want, minus the __e

[2021-01-09 12:31] wheresvic commented on #53
Hi @sean-hill ,

Unfortunately the plugin does not execute on `updateMany`, See mongoose documentation here: https://mongoosejs.com/docs/middleware.html#notes

You will need to manually do a find - get the document, make your changes and then save it back again. A bit annoying yes, but it is a solution :)

[2021-01-09 12:34] wheresvic commented on #54
Hi @Glacian22

Yes unfortunately this is a limitation of mongoose itself: https://mongoosejs.com/docs/middleware.html#notes

This problem is that `find` is a generic query on all documents and Mongoose does not have a reference to the document object when it is doing such a find, hence it cannot execute the plugin. So what you are doing is ugly yes, but it is actually the correct approach!

Cheers

[2021-01-10 00:18] Glacian22 commented on #54
Thanks for the clarification, much appreciated!

[2021-01-10 00:18] #54 closed

[2021-01-11 15:21] sean-hill commented on #53
@wheresvic sounds good. I'll redo my implementation to allow for that 😄

So something like this?

[code]

[2021-01-15 16:25] igisav commented on #50
Same pain as @lazzyn - first one error and with 32 byte secret you get another...

[code]

[2021-01-16 12:35] wheresvic commented on #53
@sean-hill

Yes, you might want to set it to an empty string to indicate that it was once filled but this is of course dependent on the design of your object :).

Cheers,

[2021-01-16 12:38] wheresvic commented on #50
So to be fair `decrypt` is an internal function, ideally you want to call the static function `decryptFieldsSync` and get the decrypted object. See this test for example usage: https://github.com/wheresvic/mongoose-field-encryption/blob/master/test/test-statics.js

Please let me know if this does not work, thanks!

[2021-01-16 14:43] #53 closed

[2021-01-20 09:51] igisav commented on #50
Thanks a lot, @wheresvic!
`decryptFieldsSync` works on created Document and `decrypt` was wrong method for me.

additional question: Are there types for Typescript for this library?

[2021-01-26 12:56] wheresvic commented on #50
Hi @igisav good to hear that you were able to resolve your issue.

Unfortunately, there are no typescript types for this library - feel free to file and issue and I'll see if I can make some.

Cheers!

[2021-02-21 11:03] bakkostas opened #55 "I have problem with findOneAndUpdate mongoose function and the update at the nested fields"
I am running mongoDB 4.0.9 , nodejs 10.15.3 mongoose 5.5.1 and mongoose_encryption_field 4.0.1.

The problem is that all the nested fields updated as plain text with findOneandUpdate function.

For example the model is:

`var emailSchema = new mongoose.Schema({
    value: { type: String, default: '' },
    active: { type: Number, default: 0 }
});

emailSchema.plugin(mongooseFieldEncryption, { fiel

[2021-02-22 13:19] khalilmansouri commented on #55
Can you please share more details like the query and the erreur message you get?

[2021-02-22 13:49] bakkostas commented on #55
Hi thanks for your response,

my query is :

`_MyModel.findOneAndUpdate({
                                    "_id": req.body._id
                                }, {
                                        $set: {
                                            "name": req.body.name,
                                            "surname": req.body.surname,
                                            "

[2021-02-22 23:33] wheresvic commented on #55
Hi @bakkostas

Unfortunately the plugin does not execute on `findOneAndUpdate`, See mongoose documentation for query middleware here: https://mongoosejs.com/docs/middleware.html#notes

You will need to manually do a find - get the document, make your changes and then save it back again.

There is support for `findOneAndUpdate` but it is pretty clunky - you need to manually set the encryption field

[2021-02-23 09:05] bakkostas commented on #55
Hi again,

Thanks for your response.

I use the solution that i describe here and all works fine.

In the model i use,  i change the last line that i wrote above `amea_schema.plugin(mongooseFieldEncryption, { fields: ["name", "surname"], secret: "Encryption4all" });` with the line as you see under.

`var emailSchema = new mongoose.Schema({
value: { type: String, default: '' },
active: { type: Numb

[2021-02-23 17:36] wheresvic commented on #55
Hi @bakkostas

If it works then thats good, I personally do not recommend relying on this feature too much as it is dependent on mongoose internals. I would recommend to do a `find` then make changes and then `save` it back.

It would be easier to maintain at any rate.

[2021-03-08 12:51] khalilmansouri opened #56 "Decrypt through aggregation pipeline"
Is it possible to implement data decrypt through aggregation pipeline

[2021-03-11 05:12] bluepuma77 opened #57 "How to use virtuals for migration?"
We are currently trying to migrate from a plain text name field to an encrypted name field. Is there a way to do this with virtuals? I would like to avoid changing the application code and continue using `doc.name`. It seems the virtuals are called before field-encryption can fully kick in. Using `mongoose-field-encryption 3.0.6`.

1. Old code:
[code]

2. Adding encryption, save field also encrypt

[2021-03-11 05:36] bluepuma77 commented on #57
It seems this only happens when using `Visitor.find().select({...})`.

But using `Visitor.find().select({ data:1, name:1 })` does not fix the problem.

[2021-03-11 05:51] bluepuma77 commented on #57
Now it's working, I need to include the original database fields `__enc_data_d` and `__enc_data` in the `select()`.

Is there a way to do this automatically or do I have to manually find and edit all `select({...})` in my code?

[2021-03-23 11:11] wheresvic commented on #57
Hi @bluepuma77

Happy to hear that you managed to get it working. Unfortuntately, virtuals are not supported directly by the plugin due to the extra fields that need to be created as you can see.

So yes - you would need to edit all the `select` in your code :(.

[2021-04-01 12:42] bluepuma77 commented on #57
Thanks for the info!

[2021-04-01 12:42] #57 closed

[2021-04-01 13:06] wheresvic commented on #56
Hi @khalilmansouri

I'm not quite sure I understand your question - would you be able to post a code sample of what you would like to achieve?

Thanks!

[2021-05-20 04:04] Yzhibin commented on #34
I experienced some issue with a similar structure like "Account schema has an array of Credential Schema, in which a field is marked as encrypted". After I use `find()` `findOne()` to get account(s), update some other fields but not the `credentials`, I will get and error of
[code]
when I call `account.save()`

It seems like only happens to Array type, and I found using `account.markModified('cred

[2021-05-27 10:28] simonestaffa commented on #34
I tried following the suggestion proposed by @rickmacgillis but it's not working on my side.

I have an UserSchema where I need to encrypt the "name" and "surname" fields. Then this schema contains a field "extra" which is based on another schema (as it is a nested object).
As suggested above, I have created the UserExtraSchema to allow nested fields encryption.

Unfortunately, I'm having some iss

[2021-05-28 02:03] nhuanhoangduc commented on #56
nope!

[2021-06-07 10:30] wheresvic commented on #34
Added test: https://github.com/wheresvic/mongoose-field-encryption/blob/036917d580e0d43c28f3331d0025af439d6ee18c/test/test-db.js#L212

[2021-06-07 10:39] wheresvic opened #60 "Add typescript types"
It would be nice for the plugin to come with typescript types!

[2021-06-10 18:37] #56 closed

[2021-08-11 09:33] Ayushk93 opened #67 "TypeError: saltGenerator is not a function"
Below is the code I'm trying for searching purpose but getting

    TypeError: saltGenerator is not a function

`const fieldEncryption = require('mongoose-field-encryption')`
`const encrypted = fieldEncryption.encrypt('some text', 'secret');`
`const decrypted = fieldEncryption.decrypt(encrypted, 'secret');`
`console.log('encrypted ', encrypted);`
`console.log('decrypted ', decrypted);`

Environmen

[2021-08-11 13:24] Ayushk93 opened #68 "How to query encrypted nested field?"
Below is my schema:

`const UserExtraSchema = new mongoose.Schema({
  city: { type: String },
  country: { type: String },
  address: { type: String },
  postalCode: { type: String },
});

UserExtraSchema.plugin(mongooseFieldEncryption, {
  fields: ['city', "address"],
  secret: "Secret Key",
  saltGenerator: (secret) => secret.slice(0, 16),
});

export const UserSchema = new mongoose.Schema({
  n

[2021-09-28 16:02] ArielGavrielov opened #69 "Model populate returns encrypted fields"
I have thats schemas:
[code]
and when I run this line:
`Model.findOne({_id: '6151a9221e014f27a6398e96'}).populate('fieldEncrypted');
`
it return encrypted document of schema1. how can I do that it will return decrypted document?

thanks for answers.

[2021-10-01 07:47] wheresvic commented on #67
Hi @Ayushk93

Sorry for the delay in getting back to you - somehow my notifications from github are landing up in Spam.

Anyways, what you want to do here is to pass the `saltGenerator` function. If you do not pass anything the default function is: `const defaultSaltGenerator = (secret) => crypto.randomBytes(16);`, so it is possible that you created your own function here.

We would need to look a

[2021-10-01 07:55] wheresvic commented on #68
Hi @Ayushk93

So in this scenario what you would need to do is to actually create a Moogoose schema for the Address subdocument and then add the encryption plugin to address as well as the user document. Then you can do an `encryptSync()` on your search address document and run your query.

See the test for an example: https://github.com/wheresvic/mongoose-field-encryption/blob/036917d580e0d43c28f

[2021-10-01 07:59] wheresvic commented on #69
Hi @ArielGavrielov

Did you try just doing a `findOne` without the `populate`? As you can see from this test https://github.com/wheresvic/mongoose-field-encryption/blob/036917d580e0d43c28f3331d0025af439d6ee18c/test/test-db.js#L297, `findOne` works normally as is.

If you want to use `populate` you can also perhaps use the `decryptSync` static function to then decrypt the field?

[2021-10-01 08:01] wheresvic commented on #38
Closing this issue now.

[2021-10-01 08:01] #38 closed

[2021-10-01 08:02] wheresvic commented on #45
Closing this issue now.

[2021-10-01 08:02] #45 closed

[2021-10-01 08:03] wheresvic commented on #55
This issue has been resolved.

[2021-10-01 08:03] #55 closed

[2021-10-01 08:04] wheresvic commented on #52
Closing now.

[2021-10-01 08:04] #52 closed

[2021-10-01 08:05] wheresvic commented on #42
Closing now.

[2021-10-01 08:05] #42 closed

[2021-11-01 00:54] obllivion commented on #67
Maybe i can contribute - this happened to me too because i tried to use "encryptFieldsSync"  - and then find did not work, from some other issues i saw here i concluded what is wrong:
In readme.MD there is no example on how to use salt when generating schema, but that point is very important, because if you leave it out (like i did) - find will later use some different encryption - and the problem

[2022-01-18 13:31] wheresvic commented on #67
This is a good point and I will update the README regarding this!

[2022-01-18 13:54] #50 closed

[2022-02-02 11:26] wassil opened #71 "Decrypt method uses secret directly, the mongoose hooks use a hash"
I've been struggling with `decrypt` method getting `error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt`.
Couple of people already reported issues like this.
The problem is that when you setup encryption on the fields, the library doesn't use the secret directly, but rather calculates a hash of the secret. https://github.com/wheresvic/mongoose-field-encryption/blob/master/lib/

[2022-02-04 13:39] wheresvic commented on #71
@wassil the `decrypt` method is actually an internal method. The plugin does expose a static method `decryptFieldsSync` which is documented.

Does the static method not work for you?

[2022-02-04 13:42] #68 closed

[2022-02-04 13:44] wassil commented on #71
`decrypt` is mentioned in the docs here: https://github.com/wheresvic/mongoose-field-encryption#searching

I only had a database dump, not actual mongoose object. I assume that `decryptFieldsSync` needs a mongoose object to work, that's why I chose `decrypt`

[2022-02-04 14:47] wheresvic commented on #71
ok that's fair, I can add it to the README then, cheers!

[2022-02-11 17:03] mexusbg commented on #34
I have the same issue

[2022-02-15 22:44] rcpassos commented on #34
Hi, I have the same issue that @simonestaffa and @mexusbg

[2022-02-16 09:54] wheresvic commented on #71
This is now done, sorry for the delay!

[2022-02-16 09:54] #71 closed

[2022-02-16 10:13] wheresvic commented on #71
Also added a test to verify behaviour :)

[2022-02-16 10:18] wheresvic commented on #34
@mexusbg there is a test that uses exactly this example and it is working fine: https://github.com/wheresvic/mongoose-field-encryption/blob/036917d580e0d43c28f3331d0025af439d6ee18c/test/test-db.js#L212

the only difference I see from the example code is the way the `saltGenerator` function is setup. Although I do not see anything wrong with the one that you are using. The other point is that I do

[2022-02-16 10:25] wheresvic commented on #60
fixed via #64

[2022-02-16 10:25] #60 closed

[2022-02-16 10:26] #39 closed

[2022-02-16 11:21] mexusbg commented on #34
@wheresvic
I'm saving the main user document.
User.create({})
User.findOneAndUpdate(findQuery,updateQuery)

[2022-02-18 14:58] JoseCigarro opened #72 "Returns encrypted fields when use .select()"
There is any way to make a query with select()?

When i use the select() all the fields are coming encrypted.

This is what I'm trying to do.

`User.findById(user.id)
        .select('_id email name location extendedInfo')
        .exec();`

Thank you

[2022-03-14 10:42] bluepuma77 commented on #72
You probably need to add the encrypted fields to the select, so the plugin can encrypt them after find().

Field examples from the documentation:
[code]

[2022-04-27 23:52] doverradio opened #73 "Model is not a constructor, TypeError"
Hello,

I am trying to use your package to encrypt a specific field of my schema on a collection named `Customers`.

However, upon first run, it got an error: `TypeError: Customers is not a constructor`

I am using express.js for my endpoints.

Error message:
[code]

My model:
[code]

My controller method:
[code]

My routes file:
[code]

My test JSON data going into Postman:
[code]

Here is the co

[2022-05-03 07:16] wheresvic commented on #73
Hi @doverradio

Sorry for the delay in responding to this. From the error `TypeError: Customers is not a constructor`, it seems that your `Customers` class has not been defined properly. If you can post the code for this, I could perhaps advise further.

[2022-06-09 11:51] bluepuma77 opened #74 "Is there a size limit when saving binary data from Buffer with mongoose-field-encryption?"
We would like to save images to MongoDB and want to encrypt the binary data field. And we are aware that the MongoDB object size limit is around 16MB ([Stackoverflow info](https://stackoverflow.com/questions/60996826/the-value-of-offset-is-out-of-range-it-must-be-0-17825792)).

But even when the image only has 3.6MB I receive an error with `file.save()`:
`ERROR The value of "offset" is out of rang

[2022-08-04 11:42] sators opened #76 "Searching RegEx / Case Insensitive Encrypted Fields"
Is it possible to use a RegEx value to search case insensitive through encrypted fields?

[2022-09-12 15:03] wheresvic commented on #74
Hi and sorry for the delay in responding to this. The issue at hand is that mfe does a `JSON.stringify` on a non-string field which then explodes in size for a `Buffer`.

I would highly recommend that you encrypt the files but store them somewhere else on a server and just save the encryption keys in Mongo.

[2022-09-12 15:08] wheresvic commented on #76
@sators Yes, as long as you use a _fixed salt generator_, you can search over encrypted values: https://github.com/wheresvic/mongoose-field-encryption#search-over-encrypted-fields

Fun fact: this project was actually started out because I needed the ability to search over encrypted values. However do note that this is approach *not recommended due to insufficient security requirements*.

You could

[2022-09-12 15:09] #69 closed

[2022-09-12 15:09] #73 closed

[2022-09-12 15:10] #72 closed

[2022-09-12 15:23] sators commented on #76
Thanks for the tip!

[2022-09-12 15:23] #76 closed

[2022-09-14 14:35] mergingseas opened #78 "does fle work with insertMany or create"
Hello,
Looks like there isn’t support for insertMany or create mongoose queries ?

[2022-09-30 17:06] ctranstrum commented on #34
I have the same problem with subschema encryption when I use findOneAndUpdate() on the parent record, but when I switched to save(), it works.

[2022-11-21 02:56] PatchOnKnee opened #80 "New version of mongoose has removed omitUndefined as an option"
https://mongoosejs.com/docs/migrating_to_6.html#removed-omitundefined

In mongoose 6, the option to have undefined set on a field has been removed. This means that even though encryption occurs, the original data exists on the document in the database, in plain text.

[2022-11-21 04:33] #80 closed